@import '~bootstrap/scss/bootstrap';

// color definitions
$black: #262228;
$blue: #0357b4;
$grey: #808080;
$lesswarm: #e89b7d;
$powder: #8fd8d2;
$warm: #df744a;
$vermillion: #fc4a1a;
$white: #fff;
$yellow: #ffce00;

:root:before {
  content: url('../../public/images/speech-bubble.png');
  /* partial fallback */
  background-image: url('../../public/images/speech-bubble.png');
  visibility: hidden;
  position: absolute;
  left: -999em;
}

html,
body {
  height: 100vh;
}

body {
  background-color: $powder;
  display: flex;
  flex-direction: column;
  padding-right: 0 !important;
}

button {
  &.btn-primary {
    background-color: $powder;
    text-shadow: 1px 1px $black;
  }

  &.btn-secondary {
    background-color: $grey;
    text-shadow: 1px 1px $black;
  }

  &.upvote-button {
    background-color: $white;
    border: 0;
    display: flex;
    justify-content: center;
    margin: 1px;
    padding: 0;
  }

  &.favorite-button {
    background-color: $white;
    border: 0;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    padding: 0;
  }
}

// color classes
.failure {
  color: $vermillion;
}

.grey {
  color: $grey;
}

.success {
  color: $blue;
}

div {
  &.advice-display {
    display: flex;
    justify-content: center;
  }

  &.advice-footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &.approve-confirm-modal-content {
    left: 75px;
    width: 325px !important;
  }

  &.centered {
    left: 48%;
    position: absolute;
    top: 37%;
    transform: translate(-50%, -50%);
    width: 80%;
    word-break: break-word;
  }

  &.color-section {
    background-color: $white;
  }

  &.cover-container {
    align-items: center;
    justify-content: center;
    max-width: 800px;
  }

  &.delete-favorite-confirm-modal-content {
    width: 325px !important;
  }

  &.delete-modal-content {
    left: 150px;
    position: relative;
    width: 275px;
  }

  &.delete-modal-body {
    display: flex;
    justify-content: space-around;
    padding: 2px;
  }

  &.encourage-button {
    border: solid $grey 10px;
    border-radius: 500px;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px $black;

    &:hover {
      background-color: $yellow;
      border: solid $lesswarm 10px;
    }
  }

  &.jumbotron-fluid {
    background-color: $warm;
    background-image: linear-gradient($lesswarm, $warm);
    color: $white;
    text-align: center;
    width: 100%;
  }

  &.master-container {
    position: relative;
    width: 70%;
  }

  &.modal {
    padding-right: 0;
  }

  &.modal-content {
    border: 1px solid $black;
    border-radius: 0;
    color: $black;
    font-weight: 500;
  }

  &.modal-body {
    background-color: $white;
  }

  &.modal-header {
    background-color: $warm;
    border-bottom-color: $black;
    border-radius: 0;
    color: $white;
  }

  &.modal-footer {
    background-color: $warm;
    border-radius: 0;
    border-top-color: $black;
    color: $white;
  }

  &.navbar-collapse {
    background-color: $yellow;
    color: $grey;
    font-size: 3vw;
    font-weight: 800;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: right;
    width: 25vw;
    z-index: 100;
  }

  &.server-fail-modal-content {
    left: 75px;
    top: -100px;
    width: 350px !important;
  }

  &.upvote-div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

footer {
  background-color: $yellow;
  height: 56px;
}

h1 {
  display: inline;
  font-size: 10vw;
}

h5 {
  font-weight: 700;
  margin-bottom: 10px;
}

h6 {
  font-weight: 600;
}

hr {
  &.advice-display-hr {
    margin-bottom: 10px;
  }
}

img {
  &.favorite-image {
    height: 25px;
    width: 25px;
  }

  &.like-image {
    width: 25px;
  }

  &.sentiment-image {
    height: 25px;
    width: 27px;
  }
}

li {
  &:hover {
    background-color: $warm;
    color: $white;
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

th {
  font-size: 16px;
}

ul {
  padding: 5px;

  &.nav-tabs {
    border-bottom: 0;
  }
}

nav {
  &.navbar {
    background-color: $yellow;
    min-height: 50px;
  }
}

span {
  &.encourage-e {
    font-size: 7vw;
    // color: $powder;
  }

  &.navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=df744a');
  }

  &.switch-to-sign-in {
    color: $warm;
    text-decoration: underline;
  }

  &.switch-to-sign-up {
    color: $warm;
    text-decoration: underline;
  }

  &.upvote-count {
    background-color: $white;
    border: 1px solid $grey;
    font-size: 16px;
    margin: 1px;
    padding: 0 5px;
    text-align: center;
  }
}

table {
  &.submission-table {
    max-height: 250px;
    overflow-y: scroll;
  }
}

textarea {
  &.submission-text {
    height: 50%;
    width: 100%;
  }
}


@media screen and (min-width: 800px) {
  .encourage-button {
    max-width: 40vw;
  }

  .encourage-e {
    font-size: 3vw !important;
  }

  h1 {
    display: inline;
    font-size: 5vw !important;
  }

  .navbar-collapse {
    font-size: 1.5vw !important;
    width: 25vw !important;
  }
}
