@import '~bootstrap/scss/bootstrap';

$yellow: #ffce00;
$blue: #0357b4;
$green: #007849;
$black: #262228;
$white: #fff;
$grey: #808080;

$lightgreen: #4abdac;
$vermillion: #fc4a1a;
$anotheryellow: #f7b733;
$lemon: #dcb239;
$peach: #fedcd2;
$powder: #8fd8d2;
$lesswarm: #e89b7d;
$warm: #df744a;
$light-grey: #a9a9a9;

/* Container holding the image and the text */
.master-container {
  position: relative;
  width: 70%;
}

/* Centered text */
.centered {
    position: absolute;
    top: 37%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 80%;
    word-break: break-word;
}

.display-text {
  align-items: center;
  background-color: $white;
  display: flex;
  height: 100px;
  justify-content: center;
  min-height: 10%;
  min-width: 20%;
  width: 400px;
}

.btn-primary {
  background-color: $powder;
  text-shadow: 1px 1px $black;
}

.btn-secondary {
  background-color: $grey;
  text-shadow: 1px 1px $black;
}

.cover-container {
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.failure {
  color: $vermillion;
}

.success {
  color: $blue;
}

html,
body {
  height: 100%;
}

body {
  background-color: $powder;
  display: flex;
  flex-direction: column;
  padding-right: 0 !important;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div {
  &.color-section {
    background-color: $white;
  }

  &.jumbotron-fluid {
    text-align: center;
    width: 100%;
    background-image: linear-gradient($lesswarm, $warm);
    background-color: $warm;
    color: $white;
  }

  &#advice-display {
    justify-content: center;
    display: flex;
  }
}

// .btn-colored {
//   background-color: $warm;
//   border-radius: 100px;
//   color: $white;
//   text-shadow: 1px 1px $black;
// }

#encourage-button {
  // position: absolute;
  // margin: 0 auto;
  // top: 32%;
  display: flex;
  border: solid $grey 10px;
  border-radius: 500px;
  font-family: 'Josefin Sans', sans-serif;
  min-width: 450px;
  width: 100%;

  &:hover {
    background-color: $yellow;
  }
}

h1 {
  font-size: 80px;
}

li {
  &:hover {
    // text-decoration: underline;
    background-color: $warm;
    color: $white;
  }
}

.grey {
  color: $grey;
}

h5 {
  font-weight: 800;
}


.modal {
  padding-right: 0;
}

.modal-content {
  border: 1px solid $black;
  color: $black;
  font-weight: 500;
  border-radius: 0;
}

.modal-body {
  background-color: $white;
}

.modal-header {
  border-radius: 0;
  background-color: $warm;
  color: $white;
  border-bottom-color: $black;
}

.modal-footer {
  border-radius: 0;
  background-color: $warm;
  color: $white;
  border-top-color: $black;
}

.navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=df744a');
}

.navbar-collapse {
  background-color: $yellow;
  position: absolute;
  right: 0;
  margin: 0;
  width: 300px;
  font-weight: 800;
  font-size: 20px;
  color: $grey;
  text-align: right;
  z-index: 100;
}

ul {
  padding: 5px;
}

.speech-card {
  position: relative;
  top: 15%;
  left: 44%;
  // max-width: 31%;

  // position: relative;
  // top: -46%;
  // left: -22%;
}

.speech-bubble {
  height: 50%;
  left: 35%;
  position: relative;
  width: 60%;
}

.upvote-button {
  background-color: $white;
  border: 0;
  display: flex;
  justify-content: center;
  margin: 1px;
  padding: 0;
  width: 22px;
}

.upvote-count {
  background-color: $white;
  border: 1px solid $grey;
  font-size: 14px;
  margin: 1px;
  padding: 0 4px;
  text-align: center;
}

.upvote-div {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -10px;
}

#encourage-e {
  font-size: 50px;
}

.navbar {
  background-color: $yellow;
  min-height: 50px;
}

footer {
  background-color: $yellow;
  height: 56px;
}

scan {
  &.switch-to-sign-in {
    color: $warm;
    text-decoration: underline;
  }

  &.switch-to-sign-up {
    color: $warm;
    text-decoration: underline;
  }
}

#submission-text {
  width: 100%;
  height: 50%;
}
