@import '~bootstrap/scss/bootstrap';

$yellow: #ffce00;
$blue: #0357b4;
$green: #007849;
$black: #262228;

$lightgreen: #4abdac;
$vermillion: #fc4a1a;
$anotheryellow: #f7b733;
$lemon: #dcb239;
$peach: #fedcd2;
$powder: #8fd8d2;
$warm: #df744a;

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.cover-container {
  max-width: 800px;
  background-color: $powder;
}

div {
  &.color-section {
    background-color: white;
  }

  &.jumbotron-fluid {
    text-align: center;
    width: 100%;
    background-color: $warm;
    color: white;
    // border-radius: 100px;
  }
}

.btn-colored {
  background-color: $warm;
  border-radius: 100px;
  color: white;
  text-shadow: 1px 1px $black;
}

#encourage-button {
  display: float;
  position: absolute;
  top: 38%;
  border: solid grey 10px;
  border-radius: 300px;
  font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  width: 40%;

  &:hover {
    background-color: $yellow;
  }
}

h1 {
  font-size: 80px;
}

li {
  &:hover {
    // text-decoration: underline;
    background-color: $warm;
    color: white;
  }
}

.navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=df744a');
}

.navbar-collapse {
  background-color: $yellow;
  display: float;
  float: right;
  margin: 0;
  width: 35%;
  font-weight: 800;
  font-size: 20px;
  color: grey;
  // text-shadow: 1px 1px $black;
  text-align: right;
}

ul {
  padding: 5px;
}

// .top-dash {
//   background-color: rgba(255, 255, 255, .2);
//   border-radius: 100px;
//   position: relative;
//   height: 20px;
//   width: 25%;
//   top: -230px;
//   left: -80px;
//   margin: 0;
// }
//
// .bottom-dash {
//   background-color: rgba(0, 0, 0, .1);
//   border-radius: 100px;
//   position: relative;
//   height: 20px;
//   width: 15%;
//   top: -70px;
//   left: 120px;
//   margin: 0;
// }

#encourage-e {
  font-size: 50px;
};

.navbar {
  background-color: $yellow;
  min-height: 50px;
}

footer {
  background-color: $yellow;
}

scan {
  &.switch-to-sign-in {
    color: $blue;
    text-decoration: underline;
  }

  &.switch-to-sign-up {
    color: $blue;
    text-decoration: underline;
  }
}
